/* admin */
/* App.css */
.btn {
  font-size: 16px; /* Kích thước chữ */
  padding: 10px 20px; /* Padding cho nút */
  border-radius: 5px; /* Bo góc cho nút */
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu */
}

.btn-primary {
  background-color: #007bff; /* Màu nền nút chính */
  color: white; /* Màu chữ */
}

.btn-danger {
  background-color: #dc3545; /* Màu nền nút hủy */
  color: white; /* Màu chữ */
}

.btn:hover {
  opacity: 0.9; /* Hiệu ứng khi hover */
}
/* App.css */
.container-fluid {
  padding: 0 15px; /* Thêm khoảng cách cho container */
}

.row {
  margin: 0; /* Bỏ khoảng cách mặc định */
}

.col-md-9 {
  /* Sử dụng cho Dashboard */
  padding: 20px; /* Thêm khoảng cách nội bộ cho Dashboard */
}
.sidebar {
  height: 100vh; /* Full viewport height */
}
.nav {

  justify-content: space-evenly;
 

}
/* dashboard*/
.hh p {

  opacity: 0;
  transition: opacity 0.8s;
}

.hh a:hover + p {
  opacity: 1;
  
}